body {
    background-color: lightgray;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choose {
    padding-top: 50px;
    padding-bottom: 25px;
    font-size: x-large;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}

.body-img {
    display: flex;
    gap: 52px;
    flex-shrink: 1;
}

#printComputer,
#printHuman,
#printWinner {
    font-size: larger;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace
}

.printScores {
    font-size: large;
    padding-top: 15px;
    padding-bottom: 30px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    flex-shrink: 1;
}

#playAgain {
    font-size: medium;
    height: 50;
    width: 100;
    font-family: 'Courier New', Courier, monospace;
}
